--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

-- Started on 2025-08-04 11:44:55 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 4018 (class 0 OID 33163)
-- Dependencies: 221
-- Data for Name: users; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.users (user_id, user_name, role, created_at) FROM stdin;
1	tian	admin	2025-07-14 11:01:11.890017
2	Leonie	admin	2025-07-14 11:57:10.564291
3	Maryna	admin	2025-07-14 17:07:40.757505
4	Lodewyk	admin	2025-07-14 18:00:17.64062
9999	Tech	Tech	2025-07-21 18:22:00.182708
\.


--
-- TOC entry 4140 (class 0 OID 34366)
-- Dependencies: 343
-- Data for Name: user_actions; Type: TABLE DATA; Schema: audit; Owner: Tian
--



--
-- TOC entry 4029 (class 0 OID 33225)
-- Dependencies: 232
-- Data for Name: access_levels; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.access_levels (level_id, level_name) FROM stdin;
\.


--
-- TOC entry 4025 (class 0 OID 33207)
-- Dependencies: 228
-- Data for Name: contract_types; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.contract_types (contract_type_id, contract_type_name) FROM stdin;
\.


--
-- TOC entry 4041 (class 0 OID 33273)
-- Dependencies: 244
-- Data for Name: cost_centers; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.cost_centers (cost_center_id, cost_center_name) FROM stdin;
\.


--
-- TOC entry 4067 (class 0 OID 33493)
-- Dependencies: 270
-- Data for Name: currency; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.currency (currency_id, code, currency_name, symbol, decimal_places, is_active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4037 (class 0 OID 33259)
-- Dependencies: 240
-- Data for Name: departments; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.departments (department_id, department_name) FROM stdin;
\.


--
-- TOC entry 4035 (class 0 OID 33252)
-- Dependencies: 238
-- Data for Name: divisions; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.divisions (division_id, division_name) FROM stdin;
\.


--
-- TOC entry 4049 (class 0 OID 33301)
-- Dependencies: 252
-- Data for Name: employee_address; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_address (employee_address_id, address_line_1, address_line_2, suburb, city, province, country, postcode, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4051 (class 0 OID 33310)
-- Dependencies: 254
-- Data for Name: employees; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employees (employee_id, employee_first_name, employee_last_name, employee_number, clock_number, is_sales) FROM stdin;
1	Tian	Vortsman	EMP1001	1001	t
2	Leonie	Vortsman	EMP1002	1002	t
\.


--
-- TOC entry 4053 (class 0 OID 33322)
-- Dependencies: 256
-- Data for Name: employee_contact; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_contact (contact_id, employee_id, email, phone, address_id, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4055 (class 0 OID 33343)
-- Dependencies: 258
-- Data for Name: employee_emergency_contact; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_emergency_contact (emergency_contact_id, employee_id, contact_name, contact_phone, contact_relation, contact_email, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4023 (class 0 OID 33198)
-- Dependencies: 226
-- Data for Name: employment_types; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employment_types (employment_type_id, employment_type_name) FROM stdin;
1	Temporary
2	Permanent
3	Contract-based
4	Probation
5	Internship
6	Other
\.


--
-- TOC entry 4039 (class 0 OID 33266)
-- Dependencies: 242
-- Data for Name: groups; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.groups (group_id, group_name) FROM stdin;
\.


--
-- TOC entry 4027 (class 0 OID 33216)
-- Dependencies: 230
-- Data for Name: pay_periods; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.pay_periods (period_id, period_name) FROM stdin;
\.


--
-- TOC entry 4047 (class 0 OID 33294)
-- Dependencies: 250
-- Data for Name: positions; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.positions (position_id, position_name) FROM stdin;
\.


--
-- TOC entry 4033 (class 0 OID 33243)
-- Dependencies: 236
-- Data for Name: shift_types; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.shift_types (shift_type_id, shift_type_name) FROM stdin;
\.


--
-- TOC entry 4043 (class 0 OID 33280)
-- Dependencies: 246
-- Data for Name: sites; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.sites (site_id, site_name) FROM stdin;
\.


--
-- TOC entry 4045 (class 0 OID 33287)
-- Dependencies: 248
-- Data for Name: teams; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.teams (team_id, team_name) FROM stdin;
\.


--
-- TOC entry 4031 (class 0 OID 33234)
-- Dependencies: 234
-- Data for Name: time_categories; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.time_categories (category_id, category_name) FROM stdin;
\.


--
-- TOC entry 4059 (class 0 OID 33372)
-- Dependencies: 262
-- Data for Name: employee_employment; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_employment (employment_id, employee_id, hire_date, termination_date, position_id, division_id, department_id, group_id, cost_center_id, site_id, team_id, manager_id, employment_status, employment_type_id, contract_type_id, pay_period_id, access_level_id, time_category_id, shift_type_id, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4057 (class 0 OID 33357)
-- Dependencies: 260
-- Data for Name: employee_personal; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_personal (personal_id, employee_id, title, id_number, date_of_birth, gender, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4061 (class 0 OID 33457)
-- Dependencies: 264
-- Data for Name: employee_roles; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.employee_roles (role_id, employee_id, role_name, module, active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4069 (class 0 OID 33506)
-- Dependencies: 272
-- Data for Name: exchange_rates; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.exchange_rates (rate_id, from_currency_id, to_currency_id, exchange_rate, effective_date, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4021 (class 0 OID 33182)
-- Dependencies: 224
-- Data for Name: notifications; Type: TABLE DATA; Schema: core; Owner: Tian
--



--
-- TOC entry 4079 (class 0 OID 33607)
-- Dependencies: 282
-- Data for Name: payment_methods; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.payment_methods (method_id, method_name, description, is_active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4065 (class 0 OID 33482)
-- Dependencies: 268
-- Data for Name: payment_status; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.payment_status (status_id, status_name, payment_status_description, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4071 (class 0 OID 33525)
-- Dependencies: 274
-- Data for Name: product_types; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.product_types (product_type_id, product_type_name, product_type_description, created_at) FROM stdin;
1	Product	Standard product for sale	2025-07-13 10:52:26.247808
2	Part	Component or part of a product	2025-07-13 10:52:26.247808
3	Service	Service offering	2025-07-13 10:52:26.247808
4	Extra	Additional item or add-on	2025-07-13 10:52:26.247808
\.


--
-- TOC entry 4073 (class 0 OID 33537)
-- Dependencies: 276
-- Data for Name: product_categories; Type: TABLE DATA; Schema: core; Owner: Tian
--



--
-- TOC entry 4075 (class 0 OID 33554)
-- Dependencies: 278
-- Data for Name: product_subcategories; Type: TABLE DATA; Schema: core; Owner: Tian
--



--
-- TOC entry 4063 (class 0 OID 33472)
-- Dependencies: 266
-- Data for Name: tax_rates; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.tax_rates (tax_rate_id, tax_name, rate, is_active, created_at, updated_at, deleted_at) FROM stdin;
1	No Tax	0.00	t	2025-07-13 10:52:26.247808	2025-07-13 10:52:26.247808	\N
2	VAT 15%	15.00	t	2025-07-13 10:52:26.247808	2025-07-13 10:52:26.247808	\N
\.


--
-- TOC entry 4077 (class 0 OID 33571)
-- Dependencies: 280
-- Data for Name: products; Type: TABLE DATA; Schema: core; Owner: Tian
--



--
-- TOC entry 4083 (class 0 OID 33634)
-- Dependencies: 286
-- Data for Name: sales_performance_snapshots; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.sales_performance_snapshots (snapshot_id, employee_id, period_start, period_end, quotes_count, invoices_count, paid_invoices_count, total_sales, total_paid, created_at) FROM stdin;
\.


--
-- TOC entry 4081 (class 0 OID 33619)
-- Dependencies: 284
-- Data for Name: sales_targets; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.sales_targets (target_id, employee_id, period_start, period_end, target_amount, achieved_amount, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4019 (class 0 OID 33170)
-- Dependencies: 222
-- Data for Name: user_modules; Type: TABLE DATA; Schema: core; Owner: Tian
--

COPY core.user_modules (user_id, module_name, enabled) FROM stdin;
2	fleet_management	t
2	inventory_management	t
2	invoicing	t
2	time_and_attendance	t
3	fleet_management	t
3	inventory_management	t
3	invoicing	t
3	time_and_attendance	t
4	fleet_management	t
4	inventory_management	t
4	invoicing	t
4	time_and_attendance	t
\.


--
-- TOC entry 4144 (class 0 OID 34466)
-- Dependencies: 347
-- Data for Name: product_bundle; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.product_bundle (product_id, bundle_items, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4141 (class 0 OID 34426)
-- Dependencies: 344
-- Data for Name: product_inventory; Type: TABLE DATA; Schema: inventory; Owner: Tian
--



--
-- TOC entry 4142 (class 0 OID 34439)
-- Dependencies: 345
-- Data for Name: product_parts; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.product_parts (product_id, oem_part_number, compatible_vehicles, material, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4143 (class 0 OID 34453)
-- Dependencies: 346
-- Data for Name: product_service; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.product_service (product_id, labor_cost, estimated_time, service_frequency, installation_required, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4146 (class 0 OID 34481)
-- Dependencies: 349
-- Data for Name: supplier; Type: TABLE DATA; Schema: inventory; Owner: Tian
--



--
-- TOC entry 4160 (class 0 OID 42986)
-- Dependencies: 363
-- Data for Name: product_supplier; Type: TABLE DATA; Schema: inventory; Owner: Tian
--



--
-- TOC entry 4162 (class 0 OID 43008)
-- Dependencies: 365
-- Data for Name: product_stock_entries; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.product_stock_entries (stock_entry_id, product_supplier_id, quantity, remaining_quantity, cost_per_unit, received_at, notes) FROM stdin;
1	21	124	124	12.99	2025-07-19 17:04:27.97197	
2	1	14	14	16.95	2025-07-19 17:05:54.464177	None
9	2	12	12	12.99	2025-07-26 15:03:08.685682	
10	14	12	12	12.99	2025-07-26 15:39:12.124972	None
11	25	17	17	21.99	2025-07-29 07:20:08.488897	Note
12	10	12	12	25.66	2025-07-29 19:45:41.279099	None
13	22	15	15	24.22	2025-07-29 19:45:56.719703	None
14	23	30	30	23.21	2025-07-29 19:46:14.796771	None
\.


--
-- TOC entry 4168 (class 0 OID 43058)
-- Dependencies: 371
-- Data for Name: product_supplier_price_history; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.product_supplier_price_history (product_supplier_price_history_id, product_supplier_id, purchase_price, start_date, end_date, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4148 (class 0 OID 34529)
-- Dependencies: 351
-- Data for Name: purchase_order; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.purchase_order (purchase_order_id, supplier_id, purchase_order_date, purchase_order_status, total_amount, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4150 (class 0 OID 34543)
-- Dependencies: 353
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.purchase_order_items (purchase_order_item_id, purchase_order_id, product_id, quantity, unit_price, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4152 (class 0 OID 34562)
-- Dependencies: 355
-- Data for Name: purchase_payment; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.purchase_payment (purchase_paym_id, purchase_order_id, payment_date, payment_amount, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4158 (class 0 OID 42968)
-- Dependencies: 361
-- Data for Name: supplier_contact_person; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.supplier_contact_person (contact_person_id, supplier_id, full_name, "position", email, phone, notes, created_at, updated_at) FROM stdin;
1	2	Leonie Vortsman	Sales Manager	leonie.vortsman@gmail.com	072 4833 516	Note	2025-07-17 15:37:32.081583	2025-07-17 15:37:32.081583
2	2	Tian Vortsman	CEO	tian@imbanita.com	0606970361	NOTE 2	2025-07-17 15:40:26.886839	2025-07-17 15:40:26.886839
3	2	Maryna	SEO	marynakeyserx@gmail.com	072 4833 516	None	2025-07-26 15:05:01.706592	2025-07-26 15:05:01.706592
\.


--
-- TOC entry 4154 (class 0 OID 34576)
-- Dependencies: 357
-- Data for Name: supplier_invoice; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.supplier_invoice (supplier_invoice_id, supplier_id, invoice_number, invoice_date, due_date, total_amount, status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4156 (class 0 OID 34590)
-- Dependencies: 359
-- Data for Name: supplier_invoice_items; Type: TABLE DATA; Schema: inventory; Owner: Tian
--

COPY inventory.supplier_invoice_items (supplier_invoice_item_id, supplier_invoice_id, product_id, quantity, unit_price, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4107 (class 0 OID 34025)
-- Dependencies: 310
-- Data for Name: address_type; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.address_type (address_type_id, type_name, description, created_at, updated_at, deleted_at) FROM stdin;
1	Physical	Physical location address	2025-07-13 12:59:56.498949	2025-07-13 12:59:56.498949	\N
2	Postal	Postal/mailing address	2025-07-13 12:59:56.498949	2025-07-13 12:59:56.498949	\N
3	Billing	Billing address	2025-07-13 12:59:56.498949	2025-07-13 12:59:56.498949	\N
4	Shipping	Shipping/delivery address	2025-07-13 12:59:56.498949	2025-07-13 12:59:56.498949	\N
\.


--
-- TOC entry 4111 (class 0 OID 34047)
-- Dependencies: 314
-- Data for Name: address; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4105 (class 0 OID 34012)
-- Dependencies: 308
-- Data for Name: clients; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4114 (class 0 OID 34080)
-- Dependencies: 317
-- Data for Name: client_addresses; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4109 (class 0 OID 34036)
-- Dependencies: 312
-- Data for Name: contact_type; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.contact_type (contact_type_id, type_name, description, created_at, updated_at, deleted_at) FROM stdin;
1	Primary	Primary contact person	2025-07-13 13:00:52.1335	2025-07-13 13:00:52.1335	\N
2	Billing	Billing contact person	2025-07-13 13:00:52.1335	2025-07-13 13:00:52.1335	\N
3	Technical	Technical contact person	2025-07-13 13:00:52.1335	2025-07-13 13:00:52.1335	\N
4	Emergency	Emergency contact person	2025-07-13 13:00:52.1335	2025-07-13 13:00:52.1335	\N
\.


--
-- TOC entry 4113 (class 0 OID 34064)
-- Dependencies: 316
-- Data for Name: contact_person; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4115 (class 0 OID 34095)
-- Dependencies: 318
-- Data for Name: client_contacts; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4119 (class 0 OID 34122)
-- Dependencies: 322
-- Data for Name: discount_types; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.discount_types (discount_id, discount_name, discount_type, value, description, is_active, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4121 (class 0 OID 34134)
-- Dependencies: 324
-- Data for Name: recurring_invoices; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.recurring_invoices (recurring_id, client_id, frequency, start_date, end_date, last_generated, next_generation, status, created_at, updated_at, deleted_at) FROM stdin;
1	1288	monthly	2025-07-21	2025-12-31	\N	\N	active	2025-07-21 13:24:13.96745	2025-07-21 13:24:13.96745	\N
3	1198	weekly	2025-07-01	2025-08-31	\N	\N	active	2025-07-26 12:26:45.054732	2025-07-26 12:26:45.054732	\N
4	1286	monthly	2025-07-29	\N	\N	\N	active	2025-07-29 08:17:13.479456	2025-07-29 08:17:13.479456	\N
\.


--
-- TOC entry 4123 (class 0 OID 34149)
-- Dependencies: 326
-- Data for Name: documents; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4129 (class 0 OID 34240)
-- Dependencies: 332
-- Data for Name: document_approvals; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.document_approvals (approval_id, document_id, requested_by, approved_by, status, comment, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4133 (class 0 OID 34287)
-- Dependencies: 336
-- Data for Name: document_attachments; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.document_attachments (attachment_id, document_id, file_path, uploaded_by, created_at) FROM stdin;
\.


--
-- TOC entry 4131 (class 0 OID 34267)
-- Dependencies: 334
-- Data for Name: document_audit_log; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.document_audit_log (audit_id, document_id, user_id, action, previous_data, new_data, created_at) FROM stdin;
\.


--
-- TOC entry 4125 (class 0 OID 34201)
-- Dependencies: 328
-- Data for Name: document_items; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4135 (class 0 OID 34307)
-- Dependencies: 338
-- Data for Name: document_payments; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.document_payments (payment_id, document_id, payment_date, payment_amount, payment_method, created_at) FROM stdin;
\.


--
-- TOC entry 4117 (class 0 OID 34111)
-- Dependencies: 320
-- Data for Name: invoice_status; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--



--
-- TOC entry 4127 (class 0 OID 34226)
-- Dependencies: 330
-- Data for Name: vehicle_details; Type: TABLE DATA; Schema: invoicing; Owner: Tian
--

COPY invoicing.vehicle_details (vehicle_id, document_id, make, model, vin, engine_number, license_plate, color, year, mileage) FROM stdin;
\.


--
-- TOC entry 4136 (class 0 OID 34320)
-- Dependencies: 339
-- Data for Name: invoicing; Type: TABLE DATA; Schema: permissions; Owner: Tian
--

COPY permissions.invoicing (user_id, can_view, can_create, can_edit, can_delete, can_finalize, can_approve) FROM stdin;
\.


--
-- TOC entry 4164 (class 0 OID 43027)
-- Dependencies: 367
-- Data for Name: credit_reasons; Type: TABLE DATA; Schema: settings; Owner: Tian
--



--
-- TOC entry 4166 (class 0 OID 43038)
-- Dependencies: 369
-- Data for Name: payment_terms; Type: TABLE DATA; Schema: settings; Owner: Tian
--

COPY settings.payment_terms (payment_term_id, term_name, days_due, is_default, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 4138 (class 0 OID 34338)
-- Dependencies: 341
-- Data for Name: invoice_settings; Type: TABLE DATA; Schema: settings; Owner: Tian
--



--
-- TOC entry 4087 (class 0 OID 33663)
-- Dependencies: 290
-- Data for Name: holidays; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".holidays (holiday_id, holiday_name, date, description, is_paid, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4101 (class 0 OID 33771)
-- Dependencies: 304
-- Data for Name: monthly_rosters; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".monthly_rosters (roster_id, employee_id, month, year, created_by, status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4095 (class 0 OID 33725)
-- Dependencies: 298
-- Data for Name: time_attendance; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_attendance (attendance_id, employee_id, attendance_date, time_in, time_out, total_hours, attendance_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4097 (class 0 OID 33740)
-- Dependencies: 300
-- Data for Name: time_break; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_break (break_id, employee_id, break_date, break_start, break_end, break_type, break_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4089 (class 0 OID 33675)
-- Dependencies: 292
-- Data for Name: time_clocking; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_clocking (clocking_id, employee_id, clocking_date, clocking_time, clocking_type, clocking_method, clocking_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4093 (class 0 OID 33710)
-- Dependencies: 296
-- Data for Name: time_overtime; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_overtime (overtime_id, employee_id, overtime_date, overtime_hours, overtime_type, overtime_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4085 (class 0 OID 33653)
-- Dependencies: 288
-- Data for Name: time_shift; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_shift (shift_id, shift_name, shift_start_time, shift_end_time, shift_break_start, shift_break_end, shift_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4091 (class 0 OID 33690)
-- Dependencies: 294
-- Data for Name: time_roster; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".time_roster (roster_id, employee_id, shift_id, roster_date, roster_status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4103 (class 0 OID 33791)
-- Dependencies: 306
-- Data for Name: unknown_clockings; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".unknown_clockings (id, date, date_time, clock_number, device_id, verify_mode, verify_status, major_event_type, minor_event_type, raw_data, processed, notes, created_at) FROM stdin;
\.


--
-- TOC entry 4099 (class 0 OID 33755)
-- Dependencies: 302
-- Data for Name: weekly_hours; Type: TABLE DATA; Schema: time; Owner: Tian
--

COPY "time".weekly_hours (hours_id, employee_id, week_start_date, regular_hours, overtime_hours, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 4174 (class 0 OID 0)
-- Dependencies: 342
-- Name: user_actions_action_id_seq; Type: SEQUENCE SET; Schema: audit; Owner: Tian
--

SELECT pg_catalog.setval('audit.user_actions_action_id_seq', 249, true);


--
-- TOC entry 4175 (class 0 OID 0)
-- Dependencies: 231
-- Name: access_levels_level_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.access_levels_level_id_seq', 1, false);


--
-- TOC entry 4176 (class 0 OID 0)
-- Dependencies: 227
-- Name: contract_types_contract_type_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.contract_types_contract_type_id_seq', 1, false);


--
-- TOC entry 4177 (class 0 OID 0)
-- Dependencies: 243
-- Name: cost_centers_cost_center_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.cost_centers_cost_center_id_seq', 1, false);


--
-- TOC entry 4178 (class 0 OID 0)
-- Dependencies: 269
-- Name: currency_currency_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.currency_currency_id_seq', 1, false);


--
-- TOC entry 4179 (class 0 OID 0)
-- Dependencies: 239
-- Name: departments_department_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.departments_department_id_seq', 1, false);


--
-- TOC entry 4180 (class 0 OID 0)
-- Dependencies: 237
-- Name: divisions_division_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.divisions_division_id_seq', 1, false);


--
-- TOC entry 4181 (class 0 OID 0)
-- Dependencies: 251
-- Name: employee_address_employee_address_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_address_employee_address_id_seq', 1, false);


--
-- TOC entry 4182 (class 0 OID 0)
-- Dependencies: 255
-- Name: employee_contact_contact_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_contact_contact_id_seq', 1, false);


--
-- TOC entry 4183 (class 0 OID 0)
-- Dependencies: 257
-- Name: employee_emergency_contact_emergency_contact_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_emergency_contact_emergency_contact_id_seq', 1, false);


--
-- TOC entry 4184 (class 0 OID 0)
-- Dependencies: 261
-- Name: employee_employment_employment_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_employment_employment_id_seq', 1, false);


--
-- TOC entry 4185 (class 0 OID 0)
-- Dependencies: 259
-- Name: employee_personal_personal_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_personal_personal_id_seq', 1, false);


--
-- TOC entry 4186 (class 0 OID 0)
-- Dependencies: 263
-- Name: employee_roles_role_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employee_roles_role_id_seq', 1, false);


--
-- TOC entry 4187 (class 0 OID 0)
-- Dependencies: 253
-- Name: employees_employee_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employees_employee_id_seq', 2, true);


--
-- TOC entry 4188 (class 0 OID 0)
-- Dependencies: 225
-- Name: employment_types_employment_type_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.employment_types_employment_type_id_seq', 6, true);


--
-- TOC entry 4189 (class 0 OID 0)
-- Dependencies: 271
-- Name: exchange_rates_rate_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.exchange_rates_rate_id_seq', 1, false);


--
-- TOC entry 4190 (class 0 OID 0)
-- Dependencies: 241
-- Name: groups_group_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.groups_group_id_seq', 1, false);


--
-- TOC entry 4191 (class 0 OID 0)
-- Dependencies: 223
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.notifications_notification_id_seq', 98, true);


--
-- TOC entry 4192 (class 0 OID 0)
-- Dependencies: 229
-- Name: pay_periods_period_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.pay_periods_period_id_seq', 1, false);


--
-- TOC entry 4193 (class 0 OID 0)
-- Dependencies: 281
-- Name: payment_methods_method_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.payment_methods_method_id_seq', 1, false);


--
-- TOC entry 4194 (class 0 OID 0)
-- Dependencies: 267
-- Name: payment_status_status_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.payment_status_status_id_seq', 1, false);


--
-- TOC entry 4195 (class 0 OID 0)
-- Dependencies: 249
-- Name: positions_position_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.positions_position_id_seq', 1, false);


--
-- TOC entry 4196 (class 0 OID 0)
-- Dependencies: 275
-- Name: product_categories_category_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.product_categories_category_id_seq', 134, true);


--
-- TOC entry 4197 (class 0 OID 0)
-- Dependencies: 277
-- Name: product_subcategories_subcategory_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.product_subcategories_subcategory_id_seq', 21, true);


--
-- TOC entry 4198 (class 0 OID 0)
-- Dependencies: 273
-- Name: product_types_product_type_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.product_types_product_type_id_seq', 16, true);


--
-- TOC entry 4199 (class 0 OID 0)
-- Dependencies: 279
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.products_product_id_seq', 71, true);


--
-- TOC entry 4200 (class 0 OID 0)
-- Dependencies: 285
-- Name: sales_performance_snapshots_snapshot_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.sales_performance_snapshots_snapshot_id_seq', 1, false);


--
-- TOC entry 4201 (class 0 OID 0)
-- Dependencies: 283
-- Name: sales_targets_target_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.sales_targets_target_id_seq', 1, false);


--
-- TOC entry 4202 (class 0 OID 0)
-- Dependencies: 235
-- Name: shift_types_shift_type_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.shift_types_shift_type_id_seq', 1, false);


--
-- TOC entry 4203 (class 0 OID 0)
-- Dependencies: 245
-- Name: sites_site_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.sites_site_id_seq', 1, false);


--
-- TOC entry 4204 (class 0 OID 0)
-- Dependencies: 265
-- Name: tax_rates_tax_rate_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.tax_rates_tax_rate_id_seq', 2, true);


--
-- TOC entry 4205 (class 0 OID 0)
-- Dependencies: 247
-- Name: teams_team_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.teams_team_id_seq', 1, false);


--
-- TOC entry 4206 (class 0 OID 0)
-- Dependencies: 233
-- Name: time_categories_category_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.time_categories_category_id_seq', 1, false);


--
-- TOC entry 4207 (class 0 OID 0)
-- Dependencies: 220
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: core; Owner: Tian
--

SELECT pg_catalog.setval('core.users_user_id_seq', 1, false);


--
-- TOC entry 4208 (class 0 OID 0)
-- Dependencies: 364
-- Name: product_stock_entries_stock_entry_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.product_stock_entries_stock_entry_id_seq', 14, true);


--
-- TOC entry 4209 (class 0 OID 0)
-- Dependencies: 370
-- Name: product_supplier_price_histor_product_supplier_price_histor_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.product_supplier_price_histor_product_supplier_price_histor_seq', 1, false);


--
-- TOC entry 4210 (class 0 OID 0)
-- Dependencies: 362
-- Name: product_supplier_product_supplier_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.product_supplier_product_supplier_id_seq', 26, true);


--
-- TOC entry 4211 (class 0 OID 0)
-- Dependencies: 352
-- Name: purchase_order_items_purchase_order_item_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.purchase_order_items_purchase_order_item_id_seq', 1, false);


--
-- TOC entry 4212 (class 0 OID 0)
-- Dependencies: 350
-- Name: purchase_order_purchase_order_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.purchase_order_purchase_order_id_seq', 1, false);


--
-- TOC entry 4213 (class 0 OID 0)
-- Dependencies: 354
-- Name: purchase_payment_purchase_paym_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.purchase_payment_purchase_paym_id_seq', 1, false);


--
-- TOC entry 4214 (class 0 OID 0)
-- Dependencies: 360
-- Name: supplier_contact_person_contact_person_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.supplier_contact_person_contact_person_id_seq', 3, true);


--
-- TOC entry 4215 (class 0 OID 0)
-- Dependencies: 358
-- Name: supplier_invoice_items_supplier_invoice_item_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.supplier_invoice_items_supplier_invoice_item_id_seq', 1, false);


--
-- TOC entry 4216 (class 0 OID 0)
-- Dependencies: 356
-- Name: supplier_invoice_supplier_invoice_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.supplier_invoice_supplier_invoice_id_seq', 1, false);


--
-- TOC entry 4217 (class 0 OID 0)
-- Dependencies: 348
-- Name: supplier_supplier_id_seq; Type: SEQUENCE SET; Schema: inventory; Owner: Tian
--

SELECT pg_catalog.setval('inventory.supplier_supplier_id_seq', 18, true);


--
-- TOC entry 4218 (class 0 OID 0)
-- Dependencies: 313
-- Name: address_address_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.address_address_id_seq', 1183, true);


--
-- TOC entry 4219 (class 0 OID 0)
-- Dependencies: 309
-- Name: address_type_address_type_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.address_type_address_type_id_seq', 4, true);


--
-- TOC entry 4220 (class 0 OID 0)
-- Dependencies: 307
-- Name: clients_client_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.clients_client_id_seq', 1288, true);


--
-- TOC entry 4221 (class 0 OID 0)
-- Dependencies: 315
-- Name: contact_person_contact_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.contact_person_contact_id_seq', 761, true);


--
-- TOC entry 4222 (class 0 OID 0)
-- Dependencies: 311
-- Name: contact_type_contact_type_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.contact_type_contact_type_id_seq', 4, true);


--
-- TOC entry 4223 (class 0 OID 0)
-- Dependencies: 321
-- Name: discount_types_discount_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.discount_types_discount_id_seq', 1, false);


--
-- TOC entry 4224 (class 0 OID 0)
-- Dependencies: 331
-- Name: document_approvals_approval_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.document_approvals_approval_id_seq', 1, false);


--
-- TOC entry 4225 (class 0 OID 0)
-- Dependencies: 335
-- Name: document_attachments_attachment_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.document_attachments_attachment_id_seq', 1, false);


--
-- TOC entry 4226 (class 0 OID 0)
-- Dependencies: 333
-- Name: document_audit_log_audit_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.document_audit_log_audit_id_seq', 1, false);


--
-- TOC entry 4227 (class 0 OID 0)
-- Dependencies: 327
-- Name: document_items_item_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.document_items_item_id_seq', 101, true);


--
-- TOC entry 4228 (class 0 OID 0)
-- Dependencies: 337
-- Name: document_payments_payment_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.document_payments_payment_id_seq', 1, false);


--
-- TOC entry 4229 (class 0 OID 0)
-- Dependencies: 325
-- Name: documents_document_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.documents_document_id_seq', 42, true);


--
-- TOC entry 4230 (class 0 OID 0)
-- Dependencies: 319
-- Name: invoice_status_status_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.invoice_status_status_id_seq', 8, true);


--
-- TOC entry 4231 (class 0 OID 0)
-- Dependencies: 323
-- Name: recurring_invoices_recurring_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.recurring_invoices_recurring_id_seq', 4, true);


--
-- TOC entry 4232 (class 0 OID 0)
-- Dependencies: 329
-- Name: vehicle_details_vehicle_id_seq; Type: SEQUENCE SET; Schema: invoicing; Owner: Tian
--

SELECT pg_catalog.setval('invoicing.vehicle_details_vehicle_id_seq', 1, false);


--
-- TOC entry 4233 (class 0 OID 0)
-- Dependencies: 366
-- Name: credit_reasons_credit_reason_id_seq; Type: SEQUENCE SET; Schema: settings; Owner: Tian
--

SELECT pg_catalog.setval('settings.credit_reasons_credit_reason_id_seq', 13, true);


--
-- TOC entry 4234 (class 0 OID 0)
-- Dependencies: 340
-- Name: invoice_settings_id_seq; Type: SEQUENCE SET; Schema: settings; Owner: Tian
--

SELECT pg_catalog.setval('settings.invoice_settings_id_seq', 1, true);


--
-- TOC entry 4235 (class 0 OID 0)
-- Dependencies: 368
-- Name: payment_terms_payment_term_id_seq; Type: SEQUENCE SET; Schema: settings; Owner: Tian
--

SELECT pg_catalog.setval('settings.payment_terms_payment_term_id_seq', 1, false);


--
-- TOC entry 4236 (class 0 OID 0)
-- Dependencies: 289
-- Name: holidays_holiday_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".holidays_holiday_id_seq', 1, false);


--
-- TOC entry 4237 (class 0 OID 0)
-- Dependencies: 303
-- Name: monthly_rosters_roster_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".monthly_rosters_roster_id_seq', 1, false);


--
-- TOC entry 4238 (class 0 OID 0)
-- Dependencies: 297
-- Name: time_attendance_attendance_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_attendance_attendance_id_seq', 1, false);


--
-- TOC entry 4239 (class 0 OID 0)
-- Dependencies: 299
-- Name: time_break_break_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_break_break_id_seq', 1, false);


--
-- TOC entry 4240 (class 0 OID 0)
-- Dependencies: 291
-- Name: time_clocking_clocking_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_clocking_clocking_id_seq', 1, false);


--
-- TOC entry 4241 (class 0 OID 0)
-- Dependencies: 295
-- Name: time_overtime_overtime_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_overtime_overtime_id_seq', 1, false);


--
-- TOC entry 4242 (class 0 OID 0)
-- Dependencies: 293
-- Name: time_roster_roster_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_roster_roster_id_seq', 1, false);


--
-- TOC entry 4243 (class 0 OID 0)
-- Dependencies: 287
-- Name: time_shift_shift_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".time_shift_shift_id_seq', 1, false);


--
-- TOC entry 4244 (class 0 OID 0)
-- Dependencies: 305
-- Name: unknown_clockings_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".unknown_clockings_id_seq', 1, false);


--
-- TOC entry 4245 (class 0 OID 0)
-- Dependencies: 301
-- Name: weekly_hours_hours_id_seq; Type: SEQUENCE SET; Schema: time; Owner: Tian
--

SELECT pg_catalog.setval('"time".weekly_hours_hours_id_seq', 1, false);


-- Completed on 2025-08-04 11:44:55 UTC

--
-- PostgreSQL database dump complete
--

