body {
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-text-light);
}

.products-container {
    border: 1px solid var(--border-color);
    border-radius: var(--radius-medium);
    margin-left: var(--sidebar-width);
    padding: var(--spacing-large);
    transition: margin-left var(--transition-speed) ease-in-out;
    box-shadow: 0px 4px 8px var(--shadow-light), 0px -4px 8px var(--shadow-dark), 0px 4px 15px var(--shadow-medium);
    position: relative;
    transform: translateZ(0);
}

.header {
    background-color: var(--color-background);
    border: 2px solid transparent;
    border-radius: var(--radius-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-large);
    padding: var(--spacing-medium);
    box-shadow: 0px 4px 8px var(--shadow-light), 0px -4px 8px var(--shadow-dark), 0px 4px 15px var(--shadow-medium);
    position: relative;
    transform: translateZ(0);
}

.header .header-left,
.header .header-right {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-small);
    margin-left: auto;
    align-items: center;
    margin-bottom: 10px;
}

.header-right button {
    background-color: var(--btn-bg);
    color: var(--color-text-light);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--radius-small);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform 0.1s;
    box-shadow: 0px 4px 8px var(--shadow-light);
    position: relative;
    transform: translateZ(0);
}

.header-right button:hover {
    background-color: var(--btn-hover-bg);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px var(--shadow-light), 0px -4px 8px var(--shadow-dark), 0px 4px 15px var(--shadow-medium);
}

.tab-content button {
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--color-text-light);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--radius-small);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform 0.1s;
    box-shadow: 0px 4px 8px var(--shadow-light);
    position: relative;
    transform: translateZ(0);
}

.tab-content button:hover {
    background-color: var(--btn-hover-bg);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px var(--shadow-light), 0px -4px 8px var(--shadow-dark);
}

.search-input {
    padding: var(--spacing-small);
    border-radius: var(--radius-medium);
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--color-text-light);
    box-shadow: 0px 4px 8px var(--shadow-light);
    position: relative;
    transform: translateZ(0);
}



.header::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: var(--radius-medium);
    border: 2px solid var(--color-primary);
    z-index: -1;
}

.tabs {
    margin-bottom: var(--spacing-large);
    padding-top: 10px;
}

.tab {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: var(--spacing-medium);
    border: 1px solid transparent;
    border-radius: var(--radius-medium);
    cursor: pointer;
    margin-right: var(--spacing-small);
    font-weight: normal;
    font-size: var(--font-size-base);
    transition: background-color var(--transition-speed), color var(--transition-speed), transform 0.1s;
    box-shadow: var(--shadow-light);
}

.tab.active {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.tab:hover {
    background-color: var(--color-hover);
    box-shadow: var(--shadow-medium);
}

.tabs-content {
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-medium);
    padding: var(--spacing-large);
    box-shadow: 0px 4px 8px var(--shadow-light), 0px -4px 8px var(--shadow-dark), 0px 4px 15px var(--shadow-medium);
    position: relative;
    transform: translateZ(0);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    gap: var(--spacing-medium);
}

.product-card {
    background-color: var(--color-secondary);
    border-radius: var(--radius-medium);
    padding: var(--spacing-large);
    max-width: 200px;
    text-align: center;
    transition: transform var(--transition-speed);
    box-shadow: 0px 6px 10px var(--shadow-medium);
    }

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 
    4px 8px 12px var(--shadow-light),   /* Lighter, smaller shadow */
    6px 12px 24px var(--shadow-medium), /* Medium shadow for more depth */
    8px 16px 32px var(--shadow-dark);   /* Darker shadow for added realism */
}

.product-image {
    width: 100%;
    border-radius: var(--radius-medium);
}

.product-title {
    font-size: var(--font-size-large);
    margin: var(--spacing-small) 0;
}

.product-description {
    font-size: var(--font-size-small);
    color: var(--color-text-light);
}

.product-price {
    font-weight: bold;
    color: var(--color-primary);
    margin: var(--spacing-small) 0;
}

.add-to-cart, .open-vehicle-modal {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    padding: var(--spacing-medium);
    border-radius: var(--radius-medium);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.add-to-cart:hover {
    background-color: var(--color-hover);
}
