body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-background);
    color: var(--color-secondary);
}

.container{
    margin-left: var(--sidebar-width);
    transition: margin-left var(--transition-speed);
}


h1 {
    color: var(--color-primary);
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    color: var(--color-text-light);
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab8;
}

.success-log {
    margin-top: 30px;
    background-color: var(--color-success);
    color: var(--color-text-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-dark);
}

.success-log h2 {
    margin-top: 0;
    color: var(--color-text-light);
    text-align: center;
}

.success-log table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.success-log th, .success-log td {
    padding: 10px;
    border: 1px solid var(--color-text-light);
    text-align: left;
}

.success-log th {
    background-color: var(--color-danger);
    color: var(--color-text-light);
}

.success-log tr:nth-child(even) {
    background-color: var(--color-warning);
}

.error-log {
    margin-top: 30px;
    background-color: var(--color-error);
    color: var(--color-text-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-dark);
}

.error-log h2 {
    margin-top: 0;
    color: var(--color-text-light);
    text-align: center;
}

.error-log table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.error-log th, .error-log td {
    padding: 10px;
    border: 1px solid var(--color-text-light);
    text-align: left;
}

.error-log th {
    background-color: var(--color-danger);
    color: var(--color-text-light);
}

.error-log tr:nth-child(even) {
    background-color: var(--color-warning);
}